stages:
  - build
  - test
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository

build_job:
  stage: build
  image: maven:3.9.9-eclipse-temurin-17
  script:
    - mvn clean package -DskipTests

test_job:
  stage: test
  image: maven:3.9.9-eclipse-temurin-17
  script:
    - mvn test
  artifacts:
    paths:
      - target/surefire-reports/
    expire_in: 1 week

deploy_job:
  stage: deploy
  script:
    - echo "Развертывание на сервере..."
